.responsiveImg {
  height: auto;
  width: 50%;
  padding: 10px;
  margin: auto;
  display: block;
  
}
body {
  background-color: rgb(123, 137, 179);
  font-family: "Noto Sans";
  font-size: 130%;
  margin:auto;
}
.myFormattedList li {
  background-color: indigo;
  list-style-type: none;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  
}
.myFormattedList li a {
font-style: normal;
text-decoration: none;
color:white;
  
}
.myFormattedList {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 10%;
  font-style: normal;
  padding-bottom:10%;
}
.myFormattedList img{
  width: 80%;
}
.collapsable{
  padding: 0 18px;
  border-color:red;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.showcontent{
  overflow:visible;
}
nav a.active {
  background-color: rgb(123, 137, 179);
  margin: auto;
  text-shadow: 2px 3px 2px rgb(55, 60, 78);
  border-radius: 2px;
}

nav a:hover {
  background-color: rgb(44, 6, 71);
  border-radius: 10px;
}
nav a {
  background-color: indigo;
  color: white;
  width: max-content;
  font-style: normal;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  font-size: 120%;
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
}


nav {
  text-align: center;
  background-color: indigo;
  width: 100%;
  overflow: auto;
  margin: auto;
  border-radius: 10px;
  top:0;
  position:fixed;
}
footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
  background-color: indigo;
  color: white;
}
footer a{
  color:white;
}
footer a:hover{
 color:rgb(186, 120, 233);
}
section {
  border-radius: 10px;
  background: rgb(149, 162, 201);
  box-shadow: 2px 3px 40px rgba(0, 0, 0, 0.4);
  text-align: justify;
  margin-bottom: 15%;
}
section h3 {
  text-align: center;
  background-color: indigo;
  color: white;
}
section p {
  padding-left: 5%;
  padding-right: 5%;
}
.mapFrame{
margin-top:5%;
margin-bottom:5%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  background-color:indigo;
  text-align: center;
}
.mapFrame hr1{
  color: white;

}
p{
color:white;
}
@media only screen and (max-width: 768px){
  nav a {
    font-size:100%;
  }
  .mapFrame{
    margin-top:10%;
    margin-bottom: 10%;
  }


}
